/* cookies_alert */

.cookies__alert {
    width: 100%;
    padding: 1%;
    background-color: rgba(220, 20, 60, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    
}

@media (max-width: 867px) {
    .cookies__alert {
        display: block;
        padding: 10%;
    }
}
.cookies__alert--paragraf {
    margin: 10px;
}
#content {

    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}


@keyframes content {
    0% {
        top: -150px;
    }

    100% {
        top: -80px;
    }
}



.button__akcept {
    margin: 0px 25px; 
    padding: 0px 10px;
    border: 1px white;
    border-radius: 1px;
}
.button__akcept:hover {
    background-color: rgb(90, 233, 24);
}
