.container__cube {
    box-shadow:  0 2px 4px rgb(124, 116, 116);
    padding-left: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.container__cubeNav{
    line-height: 2;
    padding: 2%  5%;
    font-weight: 900;
}
.container__cubeLink {
    display: flex;
    text-decoration: none;
    color: black;
    }
    .container__cubeLink:hover {
        color: rgb(81, 189, 189);
    }

.body__dark .container__cubeLink {
    color: azure;
}
.body__dark .container__cubeLink:hover {
    color: rgb(81, 189, 189);
}
.container__cubeHeder {
    display: flex;
}
@media (max-width:767px) {
    .container__cubeHeder {
        display: block;
    }}
.heder__img {
    width: 30%;
    border-radius: 3px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 120px;
    margin-bottom: 200px;
}
@media (max-width:767px) {
    .heder__img {
        width: 60%;
        margin: 10px 0px 0px 0px;
    }}

.container__cubeSection {
    margin-top: 10%;
    margin-bottom: 2%;
    height: 1000px;
   
}

.section__title {
    padding-top: 5%;
    margin-bottom: 30%;
}