.body {

}
.body_dark {
    background-color: black;
    color: rgb(226, 231, 236);
}
.button_mode {
  border: none;
  background-color: rgba(240, 248, 255, 0);
  color: rgb(109, 111, 116);
}
.button_mode:hover {
    color: rgb(10, 132, 202)
}